meta.foundation-mq-topbar {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

.off-canvas-wrap,
.inner-wrap,
nav.tab-bar,
.left-off-canvas-menu,
.left-off-canvas-menu *,
.right-off-canvas-menu,
.move-right a.exit-off-canvas,
.move-left a.exit-off-canvas {
  -webkit-backface-visibility: hidden;
}

.off-canvas-wrap,
.inner-wrap {
  position: relative;
  width: 100%;
}

.left-off-canvas-menu,
.right-off-canvas-menu {
  width: 250px;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  overflow-y: auto;
  background: #333;
  z-index: 1001;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

section.left-small,
section.right-small {
  width: 2.8125rem;
  height: 2.8125rem;
  position: absolute;
  top: 0;
}

.off-canvas-wrap {
  overflow: hidden;
}

.inner-wrap {
  *zoom: 1;
  transition: transform 500ms ease;
}

.inner-wrap:before,
.inner-wrap:after {
  content: " ";
  display: table;
}

.inner-wrap:after {
  clear: both;
}

nav.tab-bar {
  background: #333;
  color: #fff;
  height: 2.8125rem;
  line-height: 2.8125rem;
  position: relative;
}

nav.tab-bar h1,
nav.tab-bar h2,
nav.tab-bar h3,
nav.tab-bar h4,
nav.tab-bar h5,
nav.tab-bar h6 {
  color: #fff;
  font-weight: bold;
  line-height: 2.8125rem;
  margin: 0;
}

nav.tab-bar h1,
nav.tab-bar h2,
nav.tab-bar h3,
nav.tab-bar h4 {
  font-size: 1.125rem;
}

section.left-small {
  border-right: solid 1px #1a1a1a;
  box-shadow: 1px 0 0 #4d4d4d;
  left: 0;
}

section.right-small {
  border-left: solid 1px #4d4d4d;
  box-shadow: -1px 0 0 #1a1a1a;
  right: 0;
}

section.tab-bar-section {
  padding: 0 0.625rem;
  position: absolute;
  text-align: center;
  height: 2.8125rem;
  top: 0;
}

@media only screen and (min-width: 40.063em) {
  section.tab-bar-section {
    text-align: left;
  }
}

section.tab-bar-section.left {
  left: 0;
  right: 2.8125rem;
}

section.tab-bar-section.right {
  left: 2.8125rem;
  right: 0;
}

section.tab-bar-section.middle {
  left: 2.8125rem;
  right: 2.8125rem;
}

a.menu-icon {
  text-indent: 2.1875rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  line-height: 2.0625rem;
  padding: 0;
  color: #fff;
  position: relative;
}

a.menu-icon span {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0;
  left: 0.8125rem;
  top: 0.3125rem;
  box-shadow: 0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
}

a.menu-icon:hover span {
  box-shadow: 0 10px 0 1px #b3b3b3,0 16px 0 1px #b3b3b3,0 22px 0 1px #b3b3b3;
}

.left-off-canvas-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.right-off-canvas-menu {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  right: 0;
}

ul.off-canvas-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.off-canvas-list li label {
  padding: 0.3rem 0.9375rem;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  background: #444;
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0;
}

ul.off-canvas-list li a {
  display: block;
  padding: 0.6666666667rem;
  color: rgba(255,255,255,0.7);
  border-bottom: 1px solid #262626;
}

.move-right>.inner-wrap {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}

.move-right a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0,0,0,0.5),4px 0 4px rgba(0,0,0,0.5);
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}

@media only screen and (min-width: 40.063em) {
  .move-right a.exit-off-canvas:hover {
    background: rgba(255,255,255,0.05);
  }
}

.move-left>.inner-wrap {
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}

.move-left a.exit-off-canvas {
  transition: background 300ms ease;
  cursor: pointer;
  box-shadow: -4px 0 4px rgba(0,0,0,0.5),4px 0 4px rgba(0,0,0,0.5);
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}

@media only screen and (min-width: 40.063em) {
  .move-left a.exit-off-canvas:hover {
    background: rgba(255,255,255,0.05);
  }
}

.lt-ie10 .left-off-canvas-menu {
  left: -250px;
}

.lt-ie10 .right-off-canvas-menu {
  right: -250px;
}

.lt-ie10 .move-left>.inner-wrap {
  right: 250px;
}

.lt-ie10 .move-right>.inner-wrap {
  left: 250px;
}

.show-for-small,
.show-for-small-only,
.show-for-medium-down,
.show-for-large-down,
.hide-for-medium,
.hide-for-medium-up,
.hide-for-medium-only,
.hide-for-large,
.hide-for-large-up,
.hide-for-large-only,
.hide-for-xlarge,
.hide-for-xlarge-up,
.hide-for-xlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge-only {
  display: inherit !important;
}

.hide-for-small,
.hide-for-small-only,
.hide-for-medium-down,
.show-for-medium,
.show-for-medium-up,
.show-for-medium-only,
.hide-for-large-down,
.show-for-large,
.show-for-large-up,
.show-for-large-only,
.show-for-xlarge,
.show-for-xlarge-up,
.show-for-xlarge-only,
.show-for-xxlarge-up,
.show-for-xxlarge-only {
  display: none !important;
}

table.show-for-small,
table.show-for-small-only,
table.show-for-medium-down,
table.show-for-large-down,
table.hide-for-medium,
table.hide-for-medium-up,
table.hide-for-medium-only,
table.hide-for-large,
table.hide-for-large-up,
table.hide-for-large-only,
table.hide-for-xlarge,
table.hide-for-xlarge-up,
table.hide-for-xlarge-only,
table.hide-for-xxlarge-up,
table.hide-for-xxlarge-only {
  display: table;
}

thead.show-for-small,
thead.show-for-small-only,
thead.show-for-medium-down,
thead.show-for-large-down,
thead.hide-for-medium,
thead.hide-for-medium-up,
thead.hide-for-medium-only,
thead.hide-for-large,
thead.hide-for-large-up,
thead.hide-for-large-only,
thead.hide-for-xlarge,
thead.hide-for-xlarge-up,
thead.hide-for-xlarge-only,
thead.hide-for-xxlarge-up,
thead.hide-for-xxlarge-only {
  display: table-header-group !important;
}

tbody.show-for-small,
tbody.show-for-small-only,
tbody.show-for-medium-down,
tbody.show-for-large-down,
tbody.hide-for-medium,
tbody.hide-for-medium-up,
tbody.hide-for-medium-only,
tbody.hide-for-large,
tbody.hide-for-large-up,
tbody.hide-for-large-only,
tbody.hide-for-xlarge,
tbody.hide-for-xlarge-up,
tbody.hide-for-xlarge-only,
tbody.hide-for-xxlarge-up,
tbody.hide-for-xxlarge-only {
  display: table-row-group !important;
}

tr.show-for-small,
tr.show-for-small-only,
tr.show-for-medium-down,
tr.show-for-large-down,
tr.hide-for-medium,
tr.hide-for-medium-up,
tr.hide-for-medium-only,
tr.hide-for-large,
tr.hide-for-large-up,
tr.hide-for-large-only,
tr.hide-for-xlarge,
tr.hide-for-xlarge-up,
tr.hide-for-xlarge-only,
tr.hide-for-xxlarge-up,
tr.hide-for-xxlarge-only {
  display: table-row !important;
}

td.show-for-small,
td.show-for-small-only,
td.show-for-medium-down td.show-for-large-down,
td.hide-for-medium,
td.hide-for-medium-up,
td.hide-for-large,
td.hide-for-large-up,
td.hide-for-xlarge td.hide-for-xlarge-up,
td.hide-for-xxlarge-up,
th.show-for-small,
th.show-for-small-only,
th.show-for-medium-down td.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge td.hide-for-xlarge-up,
th.hide-for-xxlarge-up,
td.show-for-medium-down th.show-for-large-down,
td.hide-for-xlarge th.hide-for-xlarge-up,
th.show-for-medium-down th.show-for-large-down,
th.hide-for-xlarge th.hide-for-xlarge-up {
  display: table-cell !important;
}

@media only screen and (min-width: 40.063em) {
  .hide-for-small,
  .hide-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-up,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  .show-for-small,
  .show-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-up,
  .hide-for-medium-only,
  .hide-for-large-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  table.hide-for-small,
  table.hide-for-small-only,
  table.show-for-medium,
  table.show-for-medium-down,
  table.show-for-medium-up,
  table.show-for-medium-only,
  table.hide-for-large,
  table.hide-for-large-up,
  table.hide-for-large-only,
  table.hide-for-xlarge,
  table.hide-for-xlarge-up,
  table.hide-for-xlarge-only,
  table.hide-for-xxlarge-up,
  table.hide-for-xxlarge-only {
    display: table;
  }

  thead.hide-for-small,
  thead.hide-for-small-only,
  thead.show-for-medium,
  thead.show-for-medium-down,
  thead.show-for-medium-up,
  thead.show-for-medium-only,
  thead.hide-for-large,
  thead.hide-for-large-up,
  thead.hide-for-large-only,
  thead.hide-for-xlarge,
  thead.hide-for-xlarge-up,
  thead.hide-for-xlarge-only,
  thead.hide-for-xxlarge-up,
  thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  tbody.hide-for-small,
  tbody.hide-for-small-only,
  tbody.show-for-medium,
  tbody.show-for-medium-down,
  tbody.show-for-medium-up,
  tbody.show-for-medium-only,
  tbody.hide-for-large,
  tbody.hide-for-large-up,
  tbody.hide-for-large-only,
  tbody.hide-for-xlarge,
  tbody.hide-for-xlarge-up,
  tbody.hide-for-xlarge-only,
  tbody.hide-for-xxlarge-up,
  tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  tr.hide-for-small,
  tr.hide-for-small-only,
  tr.show-for-medium,
  tr.show-for-medium-down,
  tr.show-for-medium-up,
  tr.show-for-medium-only,
  tr.hide-for-large,
  tr.hide-for-large-up,
  tr.hide-for-large-only,
  tr.hide-for-xlarge,
  tr.hide-for-xlarge-up,
  tr.hide-for-xlarge-only,
  tr.hide-for-xxlarge-up,
  tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  td.hide-for-small,
  td.hide-for-small-only,
  td.show-for-medium,
  td.show-for-medium-down,
  td.show-for-medium-up,
  td.show-for-medium-only,
  td.hide-for-large,
  td.hide-for-large-up,
  td.hide-for-large-only,
  td.hide-for-xlarge,
  td.hide-for-xlarge-up,
  td.hide-for-xlarge-only,
  td.hide-for-xxlarge-up,
  td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.show-for-medium,
  th.show-for-medium-down,
  th.show-for-medium-up,
  th.show-for-medium-only,
  th.hide-for-large,
  th.hide-for-large-up,
  th.hide-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}

@media only screen and (min-width: 64.063em) {
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  table.hide-for-small,
  table.hide-for-small-only,
  table.hide-for-medium,
  table.hide-for-medium-down,
  table.hide-for-medium-only,
  table.show-for-medium-up,
  table.show-for-large,
  table.show-for-large-up,
  table.show-for-large-only,
  table.hide-for-xlarge,
  table.hide-for-xlarge-up,
  table.hide-for-xlarge-only,
  table.hide-for-xxlarge-up,
  table.hide-for-xxlarge-only {
    display: table;
  }

  thead.hide-for-small,
  thead.hide-for-small-only,
  thead.hide-for-medium,
  thead.hide-for-medium-down,
  thead.hide-for-medium-only,
  thead.show-for-medium-up,
  thead.show-for-large,
  thead.show-for-large-up,
  thead.show-for-large-only,
  thead.hide-for-xlarge,
  thead.hide-for-xlarge-up,
  thead.hide-for-xlarge-only,
  thead.hide-for-xxlarge-up,
  thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  tbody.hide-for-small,
  tbody.hide-for-small-only,
  tbody.hide-for-medium,
  tbody.hide-for-medium-down,
  tbody.hide-for-medium-only,
  tbody.show-for-medium-up,
  tbody.show-for-large,
  tbody.show-for-large-up,
  tbody.show-for-large-only,
  tbody.hide-for-xlarge,
  tbody.hide-for-xlarge-up,
  tbody.hide-for-xlarge-only,
  tbody.hide-for-xxlarge-up,
  tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  tr.hide-for-small,
  tr.hide-for-small-only,
  tr.hide-for-medium,
  tr.hide-for-medium-down,
  tr.hide-for-medium-only,
  tr.show-for-medium-up,
  tr.show-for-large,
  tr.show-for-large-up,
  tr.show-for-large-only,
  tr.hide-for-xlarge,
  tr.hide-for-xlarge-up,
  tr.hide-for-xlarge-only,
  tr.hide-for-xxlarge-up,
  tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  td.hide-for-small,
  td.hide-for-small-only,
  td.hide-for-medium,
  td.hide-for-medium-down,
  td.hide-for-medium-only,
  td.show-for-medium-up,
  td.show-for-large,
  td.show-for-large-up,
  td.show-for-large-only,
  td.hide-for-xlarge,
  td.hide-for-xlarge-up,
  td.hide-for-xlarge-only,
  td.hide-for-xxlarge-up,
  td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large,
  th.show-for-large-up,
  th.show-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}

@media only screen and (min-width: 90.063em) {
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  table.hide-for-small,
  table.hide-for-small-only,
  table.hide-for-medium,
  table.hide-for-medium-down,
  table.hide-for-medium-only,
  table.show-for-medium-up,
  table.show-for-large-up,
  table.show-for-xlarge,
  table.show-for-xlarge-up,
  table.show-for-xlarge-only,
  table.hide-for-xxlarge-up,
  table.hide-for-xxlarge-only {
    display: table;
  }

  thead.hide-for-small,
  thead.hide-for-small-only,
  thead.hide-for-medium,
  thead.hide-for-medium-down,
  thead.hide-for-medium-only,
  thead.show-for-medium-up,
  thead.show-for-large-up,
  thead.show-for-xlarge,
  thead.show-for-xlarge-up,
  thead.show-for-xlarge-only,
  thead.hide-for-xxlarge-up,
  thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  tbody.hide-for-small,
  tbody.hide-for-small-only,
  tbody.hide-for-medium,
  tbody.hide-for-medium-down,
  tbody.hide-for-medium-only,
  tbody.show-for-medium-up,
  tbody.show-for-large-up,
  tbody.show-for-xlarge,
  tbody.show-for-xlarge-up,
  tbody.show-for-xlarge-only,
  tbody.hide-for-xxlarge-up,
  tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  tr.hide-for-small,
  tr.hide-for-small-only,
  tr.hide-for-medium,
  tr.hide-for-medium-down,
  tr.hide-for-medium-only,
  tr.show-for-medium-up,
  tr.show-for-large-up,
  tr.show-for-xlarge,
  tr.show-for-xlarge-up,
  tr.show-for-xlarge-only,
  tr.hide-for-xxlarge-up,
  tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  td.hide-for-small,
  td.hide-for-small-only,
  td.hide-for-medium,
  td.hide-for-medium-down,
  td.hide-for-medium-only,
  td.show-for-medium-up,
  td.show-for-large-up,
  td.show-for-xlarge,
  td.show-for-xlarge-up,
  td.show-for-xlarge-only,
  td.hide-for-xxlarge-up,
  td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.show-for-xlarge,
  th.show-for-xlarge-up,
  th.show-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}

@media only screen and (min-width: 120.063em) {
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .show-for-xlarge-up,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: inherit !important;
  }

  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: none !important;
  }

  table.hide-for-small,
  table.hide-for-small-only,
  table.hide-for-medium,
  table.hide-for-medium-down,
  table.hide-for-medium-only,
  table.show-for-medium-up,
  table.show-for-large-up,
  table.show-for-xlarge-up,
  table.show-for-xxlarge-up,
  table.show-for-xxlarge-only {
    display: table;
  }

  thead.hide-for-small,
  thead.hide-for-small-only,
  thead.hide-for-medium,
  thead.hide-for-medium-down,
  thead.hide-for-medium-only,
  thead.show-for-medium-up,
  thead.show-for-large-up,
  thead.show-for-xlarge-up,
  thead.show-for-xxlarge-up,
  thead.show-for-xxlarge-only {
    display: table-header-group !important;
  }

  tbody.hide-for-small,
  tbody.hide-for-small-only,
  tbody.hide-for-medium,
  tbody.hide-for-medium-down,
  tbody.hide-for-medium-only,
  tbody.show-for-medium-up,
  tbody.show-for-large-up,
  tbody.show-for-xlarge-up,
  tbody.show-for-xxlarge-up,
  tbody.show-for-xxlarge-only {
    display: table-row-group !important;
  }

  tr.hide-for-small,
  tr.hide-for-small-only,
  tr.hide-for-medium,
  tr.hide-for-medium-down,
  tr.hide-for-medium-only,
  tr.show-for-medium-up,
  tr.show-for-large-up,
  tr.show-for-xlarge-up,
  tr.show-for-xxlarge-up,
  tr.show-for-xxlarge-only {
    display: table-row !important;
  }

  td.hide-for-small,
  td.hide-for-small-only,
  td.hide-for-medium,
  td.hide-for-medium-down,
  td.hide-for-medium-only,
  td.show-for-medium-up,
  td.show-for-large-up,
  td.show-for-xlarge-up,
  td.show-for-xxlarge-up,
  td.show-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.show-for-xlarge-up,
  th.show-for-xxlarge-up,
  th.show-for-xxlarge-only {
    display: table-cell !important;
  }
}

.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

table.hide-for-landscape,
table.show-for-portrait {
  display: table;
}

thead.hide-for-landscape,
thead.show-for-portrait {
  display: table-header-group !important;
}

tbody.hide-for-landscape,
tbody.show-for-portrait {
  display: table-row-group !important;
}

tr.hide-for-landscape,
tr.show-for-portrait {
  display: table-row !important;
}

td.hide-for-landscape,
td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  table.show-for-landscape,
  table.hide-for-portrait {
    display: table;
  }

  thead.show-for-landscape,
  thead.hide-for-portrait {
    display: table-header-group !important;
  }

  tbody.show-for-landscape,
  tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  tr.show-for-landscape,
  tr.hide-for-portrait {
    display: table-row !important;
  }

  td.show-for-landscape,
  td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}

@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  table.show-for-portrait,
  table.hide-for-landscape {
    display: table;
  }

  thead.show-for-portrait,
  thead.hide-for-landscape {
    display: table-header-group !important;
  }

  tbody.show-for-portrait,
  tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  tr.show-for-portrait,
  tr.hide-for-landscape {
    display: table-row !important;
  }

  td.show-for-portrait,
  td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}

.show-for-touch {
  display: none !important;
}

.hide-for-touch {
  display: inherit !important;
}

.touch .show-for-touch {
  display: inherit !important;
}

.touch .hide-for-touch {
  display: none !important;
}

table.hide-for-touch {
  display: table;
}

.touch table.show-for-touch {
  display: table;
}

thead.hide-for-touch {
  display: table-header-group !important;
}

.touch thead.show-for-touch {
  display: table-header-group !important;
}

tbody.hide-for-touch {
  display: table-row-group !important;
}

.touch tbody.show-for-touch {
  display: table-row-group !important;
}

tr.hide-for-touch {
  display: table-row !important;
}

.touch tr.show-for-touch {
  display: table-row !important;
}

td.hide-for-touch {
  display: table-cell !important;
}

.touch td.show-for-touch {
  display: table-cell !important;
}

th.hide-for-touch {
  display: table-cell !important;
}

.touch th.show-for-touch {
  display: table-cell !important;
}

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

script {
  display: none !important;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::-moz-selection {
  background-color: #505050;
  color: #fff;
}

*::selection {
  background-color: #505050;
  color: #fff;
}

.paintings-wrapper .painting .paint,
.paintings-wrapper .painting .detail,
.contacts-wrapper .contact-image {
  box-shadow: 0 2px 40px rgba(0,0,0,0.4);
}

.overflow {
  overflow: visible;
}

.no-overflow {
  overflow: hidden;
}

.container-wrapper {
  overflow: hidden;
}

.container-wrapper.noOverflow {
  overflow: visible;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  color: #000;
}

.container.noOverflow {
  overflow: visible;
}

.home-wrapper {
  position: relative;
  width: 80%;
  text-align: left;
  border: 2px solid #000;
  margin: 0 auto;
}

.home-wrapper>h1 {
  position: absolute;
  display: inline-block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-left: 10%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 64px;
  letter-spacing: 1px;
  color: #282828;
  margin: 80px 0;
}

.home-wrapper .logo {
  position: absolute;
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 4px;
  margin: 92px 0;
  margin-left: 4%;
  background-color: rgba(0,0,0,0.4);
  border-radius: 64px;
  transition: background 0.3s ease;
}

.home-wrapper .logo:hover {
  background-color: rgba(0,0,0,0.6);
}

.home-wrapper .quote {
  width: 12%;
  position: absolute;
  bottom: 4%;
  right: 10%;
}

.home-wrapper .quote>p {
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 34px;
  text-align: justify;
  font-weight: 700;
  line-height: 26px;
}

.home-wrapper>nav {
  position: absolute;
  margin-top: 230px;
  margin-left: 9%;
  border-radius: 10px;
}

.home-wrapper>nav ul li {
  padding: 8px 0;
}

.home-wrapper>nav ul li a {
  font-family: 'Syncopate', sans-serif;
  border-bottom: 1px solid #282828;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #282828;
  transition: all 0.3s ease;
}

.home-wrapper>nav ul li a:hover {
  color: #6F6F6F;
  border-bottom-color: #6F6F6F;
}

.map {
  background: url("../images/map.jpg") center center no-repeat;
  background-size: auto 100%;
  position: relative;
  margin: 0 auto;
}

.map .pictures {
  list-style: none;
}

.map .pictures li {
  position: absolute;
  bottom: 0;
  display: block;
  width: 28px;
  height: 28px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.map .pictures li:hover {
  opacity: 0.6;
}

.map .pictures li a {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../images/leaf.png") center center no-repeat;
  background-size: 100%;
}

.map .pictures li:nth-child(2) {
  left: 55%;
  bottom: 52%;
}

.map .pictures li:nth-child(3) {
  left: 60%;
  bottom: 52%;
}

.map .pictures li:nth-child(4) {
  left: 47%;
  bottom: 55%;
}

.map .pictures li:nth-child(5) {
  left: 51%;
  bottom: 58%;
}

.map .pictures li:nth-child(6) {
  left: 41%;
  bottom: 52%;
}

.map .pictures li:nth-child(7) {
  left: 35%;
  bottom: 50%;
}

.map .pictures li:nth-child(8) {
  left: 30%;
  bottom: 51%;
}

.map .pictures li:nth-child(9) {
  left: 47%;
  bottom: 60%;
}

.map .pictures li:nth-child(10) {
  left: 42%;
  bottom: 58%;
}

.map .pictures li:nth-child(11) {
  left: 35%;
  bottom: 55%;
}

.map .pictures li:nth-child(12) {
  left: 54%;
  bottom: 58%;
}

.map .pictures li:nth-child(13) {
  left: 60%;
  bottom: 55%;
}

.map .pictures li:nth-child(14) {
  left: 60%;
  bottom: 59%;
}

.map .pictures li:nth-child(15) {
  left: 63%;
  bottom: 61%;
}

.map .pictures li:nth-child(16) {
  left: 55%;
  bottom: 62%;
}

.map .pictures li:nth-child(17) {
  left: 58%;
  bottom: 64%;
}

.map .pictures li:nth-child(18) {
  left: 54%;
  bottom: 66%;
}

.map .pictures li:nth-child(19) {
  left: 53%;
  bottom: 72%;
}

.map .pictures li:nth-child(20) {
  left: 47%;
  bottom: 64%;
}

.map .pictures li:nth-child(21) {
  left: 40%;
  bottom: 63%;
}

.map .pictures li:nth-child(22) {
  left: 38%;
  bottom: 66%;
}

.map .pictures li:nth-child(23) {
  left: 37%;
  bottom: 70%;
}

.map .pictures li:nth-child(24) {
  left: 33%;
  bottom: 58%;
}

.map .pictures li:nth-child(25) {
  left: 29%;
  bottom: 60%;
}

.map .pictures li:nth-child(26) {
  left: 29%;
  bottom: 64%;
}

.map .pictures li:nth-child(27) {
  left: 36%;
  bottom: 61%;
}

.map .pictures li.intro {
  left: 46%;
  bottom: 48%;
}

.map .pictures li.intro a {
  width: 64px;
  height: 64px;
  background: url("../images/logo.png") no-repeat center center;
  border-radius: 50%;
  opacity: 1;
  background-color: rgba(0,0,0,0.4);
  transition: background 0.3s ease;
}

.map .pictures li.intro a:hover {
  background-color: rgba(0,0,0,0.6);
}

.map .pictures li.intro:hover {
  opacity: 1;
}

.map .pictures li.disabled {
  background: url("../images/leaf-disabled.png") center center no-repeat;
  background-size: 100%;
}

.map .pictures li.disabled a {
  display: none;
}

.map .pictures li.disabled:hover {
  opacity: 1;
}

.paintings-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  width: 80%;
  text-align: center;
  overflow: hidden;
  padding: 40px;
}

.paintings-wrapper .painting {
  width: 40%;
  margin: 0 auto;
}

.paintings-wrapper .painting>img:first-child {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.paintings-wrapper .painting>img:first-child:hover {
  opacity: 0.4;
}

.paintings-wrapper .painting .paint {
  z-index: 3;
}

.paintings-wrapper .painting .detail {
  position: absolute;
  top: 40px;
  right: 0;
  width: 28%;
  border-radius: 20px;
}

.paintings-wrapper .painting aside {
  width: 20%;
  position: absolute;
  right: 5%;
  bottom: 5%;
  text-align: left;
}

.paintings-wrapper .painting aside>p {
  line-height: 21px;
  margin-bottom: 12px;
  font-size: 19px;
}

.paintings-wrapper .painting aside .title {
  font-weight: bold;
}

.paintings-wrapper .painting aside .disp {
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #BE0000;
}

.arrows {
  text-align: center;
}

.arrows>a {
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 3;
  width: 50px;
  padding: 10px;
  font-size: 20px;
  color: rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.arrows>a.up {
  top: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.arrows>a.down {
  bottom: 2%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.arrows>a.left {
  top: 50%;
  left: 2%;
}

.arrows>a.right {
  top: 50%;
  right: 2%;
}

.arrows>a:hover {
  border: 1px solid transparent;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}

.minimap-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}

.minimap-wrapper .map {
  width: 100%;
}

.minimap-wrapper .map .pictures li {
  width: 28px;
  height: 28px;
}

.minimap-wrapper .map .pictures li a {
  width: 28px;
  height: 28px;
}

.minimap-wrapper .map .pictures li a.current {
  background: url("../images/leaf-2.png") center center no-repeat;
  background-size: 100%;
}

.minimap-wrapper .map .pictures li.intro {
  left: 46%;
  bottom: 48%;
}

.minimap-wrapper .map .pictures li.intro a {
  width: 64px;
  height: 64px;
  background: url("../images/logo.png") no-repeat center center;
  border-radius: 50%;
  opacity: 1;
  background-color: rgba(0,0,0,0.4);
  transition: background 0.3s ease;
}

.minimap-wrapper .map .pictures li.intro a:hover {
  background-color: rgba(0,0,0,0.6);
}

.minimap-wrapper .map:before {
  display: block;
  content: "-";
  opacity: 0;
}

.inspirations-wrapper .pics {
  overflow: hidden;
  margin: 0 0 40px 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.inspirations-wrapper .pics li {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 30px 0;
}

.inspirations-wrapper .pics li img {
  position: relative;
  display: block;
}

.inspirations-wrapper .pics li figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inspirations-wrapper .pics li.style0 {
  width: 58%;
}

.inspirations-wrapper .pics li.style1 {
  margin-left: 4%;
  width: 38%;
}

.inspirations-wrapper .pics li.style2 {
  width: 46%;
}

.inspirations-wrapper .pics li.style3 {
  width: 28%;
  margin-left: 26%;
}

.inspirations-wrapper .pics li.style4,
.inspirations-wrapper .pics li.style5 {
  width: 100%;
}

.contacts-wrapper>h1 {
  margin: 40px 0 60px 0;
}

.contacts-wrapper .contact-image {
  border-radius: 16px;
}

.contacts-wrapper .email {
  margin-top: 40px;
}

.contacts-wrapper .email>h2 {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1px;
}

.contacts-wrapper .email>a {
  font-size: 19px;
  padding-left: 20px;
  color: #646464;
  transition: color 0.3s ease;
}

.contacts-wrapper .email>a:hover {
  color: #323232;
}

.nav-wrapper {
  position: absolute;
  top: 64px;
  left: 10%;
  z-index: 3;
}

.nav-wrapper nav ul {
  list-style: none;
  padding: 0;
}

.nav-wrapper nav ul li {
  display: block;
  margin: 5px;
}

.nav-wrapper nav ul li a {
  padding: 32px;
  background: no-repeat center center;
  background-color: rgba(0,0,0,0.4);
  border-radius: 32px;
  transition: background 0.3s ease;
}

.nav-wrapper nav ul li a.home {
  background-image: url("../images/logo.png");
}

.nav-wrapper nav ul li a.paint {
  background-image: url("../images/insp.png");
}

.nav-wrapper nav ul li a.contacts {
  background-image: url("../images/us.png");
}

.nav-wrapper nav ul li a:hover {
  background-color: rgba(0,0,0,0.6);
}

.nav-wrapper nav ul li a.currentPage {
  background-color: rgba(0,0,0,0.2);
}

.ng-enter,
.ng-leave {
  transition: all 500ms ease;
}

.ng-enter {
  opacity: 0;
}

.ng-enter.ng-enter-active {
  opacity: 1;
}

.ng-leave {
  opacity: 1;
}

.ng-leave.ng-leave-active {
  opacity: 0;
}

.noAnimation.ng-enter,
.noAnimation.ng-leave {
  transition: none 0 ease;
  opacity: 1 !important;
}

.moveRight.ng-enter {
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
}

.moveRight.ng-enter.ng-enter-active {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveRight.ng-leave {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveRight.ng-leave.ng-leave-active {
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
}

.moveLeft.ng-enter {
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
}

.moveLeft.ng-enter.ng-enter-active {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveLeft.ng-leave {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveLeft.ng-leave.ng-leave-active {
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
}

.moveUp.ng-enter {
  transform: translate(-100%, 0);
  -webkit-transform: translate(-100%, 0);
}

.moveUp.ng-enter.ng-enter-active {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveUp.ng-leave {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveUp.ng-leave.ng-leave-active {
  transform: translate(100%, 0);
  -webkit-transform: translate(100%, 0);
}

.moveUp.ng-enter {
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
}

.moveUp.ng-enter.ng-enter-active {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveUp.ng-leave {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveUp.ng-leave.ng-leave-active {
  transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
}

.moveDown.ng-enter {
  transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
}

.moveDown.ng-enter.ng-enter-active {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveDown.ng-leave {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.moveDown.ng-leave.ng-leave-active {
  transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
}