/*= require foundation */
/* index.scss - Styles for index page */

$column-gutter: 0;

@import 'main';

*::selection {
	background-color: #505050;
	color: #fff;
}

@mixin translate($x, $y) {
	transform: translate($x, $y);
	-o-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-webkit-transform: translate($x, $y);
}

@mixin position($x, $y) {
	left: $x;
	bottom: $y;
}

%shadowed {
	-webkit-box-shadow: 0 2px 40px rgba(0,0,0,.4);
	-moz-box-shadow: 0 2px 40px rgba(0,0,0,.4);
	box-shadow: 0 2px 40px rgba(0,0,0,.4);
}

/* Body Overflow helper class */
.overflow {
	overflow: visible;
}
.no-overflow {
	overflow: hidden;
}

.container-wrapper {
	overflow: hidden;
	&.noOverflow {
		overflow: visible;
	}
}
.container {
	position: absolute;
	top: 0; left: 0; right: 0;
	z-index: 2;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  color: #000;
  &.noOverflow {
		overflow: visible;
	}
}

/* Home Section */

$leaf-size: 28px;

.home-wrapper {
	position: relative;
	width: 80%;
	text-align: left;
	border: 2px solid #000;
	margin: 0 auto;
	> h1 {
		position: absolute;
		display: inline-block;
		font-family: 'Yanone Kaffeesatz', sans-serif;
		padding-left: 10%;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 64px;
		letter-spacing: 1px;
		color: #282828;
		margin: 80px 0;
	}
	$s: 64px;
	.logo {
		position: absolute;
		display: inline-block;
		width: $s;
		height: $s;
		padding: 4px;
		margin: 92px 0;
		margin-left: 4%;
		background-color: rgba(0,0,0,0.4);
		border-radius: $s;
		@include single-transition(background, 0.3s, ease);
		&:hover {
			background-color: rgba(0,0,0,0.6);
		}
	}
	.quote {
		width: 12%;
		position: absolute;
		bottom: 4%;
		right: 10%;
		> p {
			text-transform: uppercase;
			font-family: 'Yanone Kaffeesatz', sans-serif;
			font-size: 34px;
			text-align: justify;
			font-weight: 700;
			line-height: 26px;
		}
	}
	> nav {
		position: absolute;
		margin-top: 230px;
		margin-left: 9%;
		border-radius: 10px;
		ul {
			li {
				padding: 8px 0;
				a {
					font-family: 'Syncopate', sans-serif;
					$color: #282828;
					border-bottom: 1px solid $color;
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 1px;
					text-transform: uppercase;
					color: $color;
					@include single-transition(all, 0.3s, ease);
					$hover-color: #6F6F6F;
					&:hover {
						color: $hover-color;
						border-bottom-color: $hover-color;
					}
				}
			}
		}
	}
}

/* Map Styles */

.map {
	background: url('../images/map.jpg') center center no-repeat;
	background-size: auto 100%;
	position: relative;
	margin: 0 auto;
	.pictures {
		list-style: none;
		li {
			position: absolute;
			bottom: 0;
			display: block;
			width: $leaf-size;
			height: $leaf-size;
			opacity: 1;
			@include single-transition(opacity, 0.3s, ease);
			&:hover {
				opacity: 0.6;
			}
			a {
				display: block;
				width: $leaf-size;
				height: $leaf-size;
				background: url('../images/leaf.png') center center no-repeat;
				background-size: 100%;
			}
			&:nth-child(2) { @include position(55%, 52%); }
			&:nth-child(3) { @include position(60%, 52%); }
			&:nth-child(4) { @include position(47%, 55%); }
			&:nth-child(5) { @include position(51%, 58%); }
			&:nth-child(6) { @include position(41%, 52%); }
			&:nth-child(7) { @include position(35%, 50%); }
			&:nth-child(8) { @include position(30%, 51%); }
			&:nth-child(9) { @include position(47%, 60%); }
			&:nth-child(10) { @include position(42%, 58%); }
			&:nth-child(11) { @include position(35%, 55%); }
			&:nth-child(12) { @include position(54%, 58%); }
			&:nth-child(13) { @include position(60%, 55%); }
			&:nth-child(14) { @include position(60%, 59%); }
			&:nth-child(15) { @include position(63%, 61%); }
			&:nth-child(16) { @include position(55%, 62%); }
			&:nth-child(17) { @include position(58%, 64%); }
			&:nth-child(18) { @include position(54%, 66%); }
			&:nth-child(19) { @include position(53%, 72%); }
			&:nth-child(20) { @include position(47%, 64%); }
			&:nth-child(21) { @include position(40%, 63%); }
			&:nth-child(22) { @include position(38%, 66%); }
			&:nth-child(23) { @include position(37%, 70%); }
			&:nth-child(24) { @include position(33%, 58%); }
			&:nth-child(25) { @include position(29%, 60%); }
			&:nth-child(26) { @include position(29%, 64%); }
			&:nth-child(27) { @include position(36%, 61%); }
			&.intro {
				a {
					width: 64px;
					height: 64px;
					background: url('../images/logo.png') no-repeat center center;
					border-radius: 50%;
					opacity: 1;
					background-color: rgba(0,0,0,0.4);
					@include single-transition(background, 0.3s, ease);
					&:hover {
						background-color: rgba(0,0,0,0.6);
					}
				}
				&:hover {
					opacity: 1;
				}
				@include position(46%, 48%);
			}
			&.disabled {
				background: url('../images/leaf-disabled.png') center center no-repeat;
				background-size: 100%;
				a {
					display: none;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

/* Paintings Section */

$wrapper-width: 80%;
$painting-width: 40%;
$intro-width: 100%;
$detail-width: 28%;
$information-width: 20%;
$information-offset: 5%;

.paintings-wrapper {
	position: absolute;
	left: 0; right: 0;
	margin: 0 auto;
	z-index: 2;
	width: $wrapper-width;
	text-align: center;
	overflow: hidden;
	padding: 40px;
	.painting {
		width: $painting-width;
		margin: 0 auto;
		> img:first-child {
			opacity: 1;
			@include single-transition(opacity, 0.5s, ease);
			&:hover {
				opacity: 0.4;
			}
		}
		.paint {
			@extend %shadowed;
			z-index: 3;
		}
		.detail {
			position: absolute;
			top: 40px;
			right: 0;
			width: $detail-width;
			border-radius: 20px;
			@extend %shadowed;
		}
		aside {
			width: $information-width;
			position: absolute;
			right: 5%;
			bottom: $information-offset;
			text-align: left;
			> p {
				line-height: 21px;
				margin-bottom: 12px;
				font-size: 19px;
			}
			.title {
				font-weight: bold;
			}
			.disp {
				font-size: 17px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #BE0000;
			}
		}
	}
}

/* Arrows for the Paintings Section */

$arrows-offset: 2%;

.arrows {
	text-align: center;
	> a {
		position: absolute;
		display: block;
		cursor: pointer;
		z-index: 3;
		width: 50px;
		padding: 10px;
		font-size: 20px;
		color: rgba(0,0,0,0.3);
		border: 1px solid rgba(0,0,0,0.3);
		border-radius: 50%;
		@include single-transition(all, 0.3s, ease);
		&.up {
			top: $arrows-offset; left: 0; right: 0;
			margin: 0 auto;
		};
		&.down {
			bottom: $arrows-offset; left: 0; right: 0;
			margin: 0 auto;
		};
		&.left {
			top: 50%; left: $arrows-offset;
		};
		&.right {
			top: 50%; right: $arrows-offset;
		};
		&:hover {
			border: 1px solid transparent;
			background-color: rgba(0,0,0,0.3);
			color: #fff;
		}
	}
}

/* Minimap for the Paintings Section */

$leaf-size: 28px;

.minimap-wrapper {
	position: absolute;
	left: 0; right: 0;
	margin: 0 auto;
	width: 100%;
	z-index: 2;
	.map {
		width: 100%;
		.pictures {
			li {
				width: $leaf-size;
				height: $leaf-size;
				a {
					width: $leaf-size;
					height: $leaf-size;
					&.current {
						background: url('../images/leaf-2.png') center center no-repeat;
						background-size: 100%;
					}
				}
				&.intro {
					a {
						width: 64px;
						height: 64px;
						background: url('../images/logo.png') no-repeat center center;
						border-radius: 50%;
						opacity: 1;
						background-color: rgba(0,0,0,0.4);
						@include single-transition(background, 0.3s, ease);
						&:hover {
							background-color: rgba(0,0,0,0.6);
						}
					}
					@include position(46%, 48%);
				}
			}
		}
		&:before {
			display: block;
			content: "-";
			opacity: 0;
		}
	}
}

.inspirations-wrapper {
	.pics {
		overflow: hidden;
		margin: 0 0 40px 0;
		width: 100%;
		list-style: none;
		text-align: center;
		li {
			position: relative;
			z-index: 1;
			display: inline-block;
			margin: 30px 0;
			img {
				position: relative;
				display: block;
			}
			figcaption {
				padding: 2em;
				color: #fff;
				text-transform: uppercase;
				font-size: 1.25em;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			h2 {
			}
			p {
			}
			&:hover {
				img {
				}
				h2 {
				}
				p {
				}
			}
			&.style0 {
				width: 58%;
			}
			&.style1 {
				margin-left: 4%;
				width: 38%;
			}
			&.style2 {
				width: 46%;
			}
			&.style3 {
				width: 28%;
				margin-left: 26%;
			}
			&.style4, &.style5 {
				width: 100%;
			}
		}
	}
}

.contacts-wrapper {
	> h1 {
		margin: 40px 0 60px 0;
	}
	.contact-image {
		border-radius: 16px;
		@extend %shadowed;
	}
	.email {
		margin-top: 40px;
		> h2 {
			display: inline-block;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 26px;
			letter-spacing: 1px;
		}
		> a {
			font-size: 19px;
			padding-left: 20px;
			color: #646464;
			@include single-transition(color, 0.3s, ease);
			&:hover {
				color: #323232;
			}
		}
	}
}

/* Nav Section */

.nav-wrapper {
	position: absolute;
	top: 64px;
	left: 10%;
	z-index: 3;
	nav {
		ul {
			list-style: none;
			padding: 0;
			li {
				$s: 32px;
				display: block;
				margin: 5px;
				a {
					padding: $s;
					background: no-repeat center center;
					background-color: rgba(0,0,0,0.4);
					border-radius: $s;
					@include single-transition(background, 0.3s, ease);
					&.home { background-image: url('../images/logo.png'); }
					&.paint { background-image: url('../images/insp.png'); }
					&.contacts { background-image: url('../images/us.png'); }
					&:hover {
						background-color: rgba(0,0,0,0.6);
					}
					&.currentPage {
						background-color: rgba(0,0,0,0.2);
					}
				}
			}
		}
	}
}

/* Transitions */
$animation-duration: 500ms;

/* Default Enter/Leave */
.ng-enter,
.ng-leave {
    @include single-transition(all, $animation-duration, ease);
}
.ng-enter {
    opacity: 0;
}
.ng-enter.ng-enter-active {
    opacity: 1;
}
.ng-leave {
    opacity: 1;
}
.ng-leave.ng-leave-active {
    opacity: 0;
}
/* noAnimation */
.noAnimation.ng-enter,
.noAnimation.ng-leave {
    @include single-transition(none, 0, ease);
    opacity: 1 !important;
}
/* moveRight */
.moveRight.ng-enter {
    @include translate(100%, 0);
}
.moveRight.ng-enter.ng-enter-active {
    @include translate(0, 0);
}
.moveRight.ng-leave {
    @include translate(0, 0);
}
.moveRight.ng-leave.ng-leave-active {
    @include translate(-100%, 0);
}
/* moveLeft */
.moveLeft.ng-enter {
    @include translate(-100%, 0);
}
.moveLeft.ng-enter.ng-enter-active {
    @include translate(0, 0);
}
.moveLeft.ng-leave {
    @include translate(0, 0);
}
.moveLeft.ng-leave.ng-leave-active {
    @include translate(100%, 0);
}
/* moveUp */
.moveUp.ng-enter {
    @include translate(-100%, 0);
}
.moveUp.ng-enter.ng-enter-active {
    @include translate(0, 0);
}
.moveUp.ng-leave {
    @include translate(0, 0);
}
.moveUp.ng-leave.ng-leave-active {
    @include translate(100%, 0);
}
/* moveUp */
.moveUp.ng-enter {
    @include translate(0, -100%);
}
.moveUp.ng-enter.ng-enter-active {
    @include translate(0, 0);
}
.moveUp.ng-leave {
    @include translate(0, 0);
}
.moveUp.ng-leave.ng-leave-active {
    @include translate(0, 100%);
}
/* moveDown */
.moveDown.ng-enter {
    @include translate(0, 100%);
}
.moveDown.ng-enter.ng-enter-active {
    @include translate(0, 0);
}
.moveDown.ng-leave {
    @include translate(0, 0);
}
.moveDown.ng-leave.ng-leave-active {
    @include translate(0, -100%);
}