<section class="paintings-wrapper">
  <div class="painting" ng-class="{'intro': painting.id == 'intro'}">
    <img class="paint" ng-src="{{painting.img}}" />
    <img class="detail" ng-src="{{painting.detail}}"/>
    <aside class="informations">
      <p class="title">{{painting.title}}</p>
      <p class="year">{{painting.year}}</p>
      <p class="size">{{painting.size}}</p>
      <p class="tech">{{painting.technique}}</p>
      <p class="desc">{{painting.description}}</p>
      <p ng-show="painting.available" class="disp">Disponibile</p>
    </aside>
  </div>
</section>